---
title: "About Us - NiNi's Academy"
description: "Learn more about NiNi's Academy and our commitment to tailored learning."
layout: base.html
---

{% include "hero.html" %}

{% include "values.html" %}

<!-- Popular Services Section -->
<div id="services" class="scroll-mt-24">
  {% include "services.html" %}
</div>

<!-- About Us Section -->
{% include "about.html" %}

<!-- FAQ  Section -->
{% include "faq.html" %}

<!-- Reviews Section -->
{% include "reviews.html" %}

<!-- Contact Us Section -->
{% include "contact.html" %}

<!-- Location Section -->
{% include "location.html" %}